.word {
    padding: 3px 6px;
    color: #2f3d4a;
    position: relative;

    .delete {
        position: absolute;
        width: 10px;
        height: 10px;
        right: 5px;
        top: 5px;
        cursor: pointer;
        background-image: url('/images/delete.png');
    }
}

